.navBar{
    height: 1.32rem;
    width: 100%;
    background: rgba(0,0,0,0.8);
    ul{
        padding: 0;
        margin: 0;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        li{
            width: 20%;
            height: 100%;
            text-align: center;
            font-size: 0.42rem;
            line-height: 1.32rem;
            color: rgb(153,153,153);
            span{
                display: block;
                width: 0.9rem;
                margin: 0 auto;
                height: calc(100% - 0.07rem);
                text-align: center;
                &.active{
                    border-bottom: 0.07rem solid white;
                    color: white;
                }
            }
            &.center{
                span{
                    color: black;
                    display: block;
                    width: 1.2rem;
                    height: 0.8rem;
                    margin: 0 auto;
                    margin-top: 0.26rem;
                    background: white;
                    line-height: 0.8rem;
                    border-radius: 0.2rem;
                    font-size: 0.42rem;
                }
            }
        }

    }
}